<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="bd">
    <h1 class="text-center my-4">{{ questions }}</h1>
    <div class="container">
        <form action="/{{ questions.id }}/menu/" method="POST">
            {% csrf_token %}
            <ol class="list-unstyled">
                {% for menu in menu %}
                    <input  id= "text" type="radio"  name="ovoz" value="{{ menu.id }}">
                    <label for="text">{{menu}} <span class="mx-5">ovozlar soni>>> {{ menu.ovozlar_soni }} ta</span></label>
                    <br>
                {% endfor %}
        </ol>
            <button class="btn btn-success">Send</button>
        </form>
    </div>    
</body>
</html>